<header class="site-header" id="site-header">
  <div class="header-content">
    <div class="header-grid">
      <div class="title-wrapper">
        <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p class="site-subtitle">Data Scientist | Mathematician | Researcher</p>      
      </div>
      <!-- <div class="subtitle-nav-row"> -->
      <nav class ="site-nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about' | relative_url }}">About Me</a>
        <a href="{{ '/projects' | relative_url }}">Projects</a>
        <a href="{{ '/resumePage' | relative_url }}">Resume</a>
        <a href="{{ '/contact' | relative_url }}">Contact</a>
      </nav>
    </div>
    <!-- </div> -->
  </div>

</header>